body {
    font-family: 'Overpass', "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    color: white;
}

p {
    font-size:  20px;
    color:  $grey-64;
    font-weight: 400;
}

h2 {
    font-size:     60px;
    font-weight:    800;
    margin-bottom: 12px;
}

h3 {
    font-size:     32px;
    color:     $grey-64;
    font-weight:    600;
    margin-bottom: 10px;
}

h4 {
    font-size:     18px;
    color:    $grey-107;
    font-weight:    200;
    margin-bottom: 12px;
}

h5 {
    font-size:     22px;
    line-height:   32px;
    font-weight:    300;
}

h6 {
    font-size:     26px;
    color:     $grey-64;
    font-weight:    600;
}

span {
    color:     $grey-64;
    font-weight:    200;
}

a {
    font-size:            18px;
    color:           $grey-107;
    font-weight:           200;
    margin-bottom:        12px;
    text-decoration: underline;
    -webkit-text-decoration-color: $grey-107;
    -moz-text-decoration-color:    $grey-107;
    text-decoration-color:         $grey-107;
}

a:hover {
    text-decoration: underline;
    -webkit-text-decoration-color: rgba($grey-107, .5);
    -moz-text-decoration-color:    rgba($grey-107, .5);
    text-decoration-color:         rgba($grey-107, .5);
}

.fa {
    color: $grey-107;
}

.social li {
    color: $grey-107;
}
