/*  ---- COLORS ---- */


/*  ---- BACKGROUNDS ---- */

$background:        rgba(255, 255, 255, 1.0);
$background-vy:     rgba(244, 244, 244, 1.0);
$background-growth:    rgba(25, 41, 57, 1.0);
$background-trevor: rgba(238, 239, 238, 1.0);


/*  ---- BRAND ---- */

$brand: rgba(86, 143, 187, 1.0);


/*  ---- FONTS ---- */

$grey-64:     rgba(64, 64, 64, 1.0);
$grey-107: rgba(107, 107, 107, 1.0);
$grey-169: rgba(167, 169, 173, 1.0);

$hover:    rgba(179, 179, 179, 1.0);
$about-p:  rgba(193, 199, 196, 1.0);
