@import "normalise";
@import "colors";
@import "typography";
@import "buttons";


/*

------ CONTENTS ------

 25 - HEADER SECTION
 48 - PORTFOLIO SECTION
125 - ABOUT SECTION
158 - SKILLS SECTION
196 - CONTACT SECTION
214 - FOOTER SECTION

*/


body {background-color: $background;}


// ----- HEADER SECTION ----- //


.hidden {display: none;}

.header-content {
    background: url('../images/hero-img.jpg') no-repeat;
    background-size:  100vw;
    height:            43vw;
    display:           flex;
    align-items:     center;
    justify-content: center;
}


.header-text {
      margin-left:     auto;
      margin-right:    auto;
      text-align:    center;
      max-width:        90%;
      align-self:    center;
}


// ----- PORTFOLIO SECTION ----- //

.container {
    max-width:      1250px;
    padding:        0 10px;
    margin: 30px auto 50px;
}

.inner {
    width:           100%;
    margin-top:      40px;
    display: inline-block;
}

.portfolio-card {
    width:         100%;
    height:       813px;
    line-height:    1.4;
    margin-bottom: 50px;
}

.portfolio-text {
    padding: 72px;
    width:  450px;

    a, h6 {
        font-size:       24px;
        color:       $grey-10;
        font-weight:      400;
        text-decoration: none;
    }

    span { color: $grey-64;}

    a:hover {
      text-decoration: underline;
      -webkit-text-decoration-color: $hover;
      -moz-text-decoration-color:    $hover;
      text-decoration-color:         $hover;}
}

#vy-local {
    background: url('../images/desktop.png') right bottom no-repeat, linear-gradient(#DEDFE3 2%, #AEB3B9 95%),
    radial-gradient(33% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
}

#growthitude {
    background: url('../images/growthitude.png') top center no-repeat, linear-gradient(-180deg, #151921 0%, #343643 97%);
    -webkit-background-size: cover;
    -moz-background-size:    cover;
    -o-background-size:      cover;
    background-size:         cover;
    background-color: $background-growth;

    a, h6 {color: white;}

      span {color: $grey-169;}
}

#payment {
    background: url('../images/payment.png') top no-repeat, linear-gradient(#DEDFE3 2%, #AEB3B9 95%),
    radial-gradient(33% 100%, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
    -webkit-background-size: cover;
    -moz-background-size:    cover;
    -o-background-size:      cover;
    background-size:         cover;
    background-color: $background-payment;

    a, h6 {color: $grey-10;}

    span {color: $grey-64;}

    a:hover {
        -webkit-text-decoration-color: $hover;
        -moz-text-decoration-color:    $hover;
        text-decoration-color:         $hover;
    }
}


// ----- ABOUT SECTION ----- //

#about {
    background: url('../images/about.jpg') top right no-repeat;
    background-size: cover;
    height:           auto;

    a, h3 {
        color:        white;
        padding-bottom: 6px;
    }

    a:hover {
        -webkit-text-decoration-color: $hover;
        -moz-text-decoration-color:    $hover;
        text-decoration-color:         $hover;
    }

    p {
        color:   $about-p;
        font-weight:  200;
        line-height:  1.5;
        font-size:   18px;
    }
}

.about-text {
    width:       550px;
    height:       auto;
    padding: 80px 20px;
}


// ----- SKILLS SECTION ----- //

.flex-skills {display: flex;}

.skills {padding-bottom: 40px;}

.skills-left {
    width:   750px;
    margin: 0 20px;

    p {
        font-weight: 200;
        line-height: 1.5;
        font-size:  18px;
    }
}

.skills-right {
    display:      flex;
    text-align: center;
    flex-wrap:    wrap;
    margin:  10px 20px;

    p {font-size: 14px;}

    .logo {
        width:       120px;
        margin-left:  auto;
        margin-right: auto;
        padding-top:  25px;
    }
}

.logo-skills {text-align: center;}

hr {opacity: 0.4;}


// ----- CONTACT SECTION ----- //

.email {
    width:        330px;
    margin-bottom: 60px;
    margin-left:   auto;
    margin-right:  auto;
    text-align:  center;

    a {
        font-size:   20px;
        line-height: 22px;
    }
}

.fa {padding: 10px;}


// ----- FOOTER SECTION ----- //

footer {margin-top: 100px;}

.logo-bottom {
    width:       60px;
    margin-left:  auto;
    margin-right: auto;
    img  {width: 60px;}
}


.social {
    padding: 20px 0 20px 50px;
    width: 100%;
    text-align: center;


    li {
        display:  inline;
        font-weight: 200;
        padding:    15px;
    }

    a, li {font-size: 14px;}
}

@import "media-queries";
