@import "normalise";
@import "colors";
@import "typography";


/*

------ CONTENTS ------

 26 - HEADER SECTION
 60 - NEWS SECTION
 91 - PORTFOLIO SECTION
143 - ABOUT SECTION
176 - SKILLS SECTION
207 - CONTACT SECTION
220 - FOOTER SECTION

*/


body { background-color: $background; }


// ----- HEADER SECTION ----- //

header {
    width:   100%;
    height:  47vw;
    background: url('../images/header-img.jpg') top right no-repeat;
    background-size: cover;
}

.header-mobile {
    display: none;
    width: 100%;
    background: url('../images/header-small.jpg') top right no-repeat;
    -webkit-background-size: contain;
    -moz-background-size:    contain;
    -o-background-size:      contain;
    background-size:         contain;
}

.logo {
    width:       131px;
    margin-left:  auto;
    margin-right: auto;
    padding-top:  25px;
}

.header-text {
    max-width:   610px;
    margin-left:  auto;
    margin-right: auto;
    margin-top:  268px;
    text-align: center;
    padding:      10px;
}


// ----- NEWS SECTION ----- //

.container {
    max-width:      1250px;
    padding:        0 10px;
    margin: 30px auto 50px;
}

.news {
    border-top:    1px solid $background-trevor;
    border-bottom: 1px solid $background-trevor;
}

.inner {
    width:           100%;
    display: inline-block;
}

.avatar, .interested, .stop-search {
    display:   inline-block;
    line-height:       32px;
    padding:           12px;
    vertical-align:  middle;
}

.interested {
    float:      right;
    padding-top: 26px;
}


// ----- PORTFOLIO SECTION ----- //

.portfolio-card {
    width:         100%;
    height:       813px;
    line-height:    1.4;
    margin-bottom: 50px;
}

.portfolio-text {
    padding: 72px;
    width:  450px;

    a {
        font-size:       26px;
        color:       $grey-64;
        font-weight:      600;
        text-decoration: none;
    }

    a:hover { text-decoration: underline; }
}

#vy-local {
    background: url('../images/lawn.png') top no-repeat;
    background-size: cover;
    background-color: $background-vy;
}

#growthitude {
    background: url('../images/growthitude.png') top center no-repeat;
    background-size: cover;
    background-color: $background-growth;

    a, h6 { color: white; }

    a:hover {
        -webkit-text-decoration-color: $hover;
        -moz-text-decoration-color:    $hover;
        text-decoration-color:         $hover;
    }

    span { color: $grey-169; }
}

#trevor {
    background: url('../images/trevor.png') top no-repeat;
    background-size: cover;
    background-color: $background-trevor;
}


// ----- ABOUT SECTION ----- //

#about {
    background: url('../images/about.jpg') top right no-repeat;
    background-size: cover;
    height:           auto;

    a, h3 {
        color:        white;
        padding-bottom: 6px;
    }

    a:hover {
        -webkit-text-decoration-color: $hover;
        -moz-text-decoration-color:    $hover;
        text-decoration-color:         $hover;
    }

    p {
        color:   $about-p;
        font-weight:  200;
        line-height:  1.5;
        font-size:   18px;
    }
}

.about-text {
    width:       550px;
    height:       auto;
    padding: 80px 10px;
}


// ----- SKILLS SECTION ----- //

.flex-skills { display: flex; }

.skills { padding-bottom: 40px; }

.skills-left {
    width:   750px;
    margin: 0 20px;

    p {
        font-weight: 200;
        line-height: 1.5;
        font-size:  18px;
    }
}

.skills-right {
    display:      flex;
    text-align: center;
    flex-wrap:    wrap;
    margin:  10px 20px;

    p { font-size: 14px; }
}

.logo-skills { text-align: center; }

hr { opacity: 0.4; }


// ----- CONTACT SECTION ----- //

.email {
    width:        300px;
    margin-bottom: 60px;
    margin-left:   auto;
    margin-right:  auto;
    text-align:  center;
}

.fa { padding: 10px; }


// ----- FOOTER SECTION ----- //

footer { margin-top: 100px; }

.social {
    padding: 20px 10px;
    text-align: center;

    li {
        display:  inline;
        font-weight: 200;
        padding:    10px;
    }

    a, li { font-size: 14px; }
}


@import "media-queries";
